<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= __('BMSTU_STUDENT_PORTAL')%></title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <% include navbar %>

    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">0 <%=__('NEW_MSG')%>!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left"><%=__('VIEW_DETAILS')%></span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-user-circle"></i>
                </div>
                <div class="mr-5">0 <%=__('NEW_USERS')%>!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left" id="viewUsers"><%=__('VIEW_DETAILS')%></span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger  o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">
                  <span id="report_num">0</span> <%=__('NEW_REPORTS')%>!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left" id="viewReports"><%=__('VIEW_DETAILS')%></span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-support"></i>
                </div>
                <div class="mr-5">0 <%=__('NEW_NEWS')%>!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left"><%=__('VIEW_DETAILS')%></span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card mb-3" id="users">
          <div class="card-header">
            <i class="fa fa-table"></i> <%=__('LAST_NEW_USERS')%></div>
          <div class="card-body row">
            <div class="table-responsive col-sm-6">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th><%=__('FULLNAME')%></th>
                    <th><%=__('ROLE')%></th>
                    <th><%=__('FACULTY')%></th>

                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><%=__('FULLNAME')%></th>
                    <th><%=__('ROLE')%></th>
                    <th><%=__('FACULTY')%></th>
                  </tr>
                </tfoot>
                <tbody id="tableBody">


                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted" id="lastUpdate">Updated </div>
        </div>

        <div class="card mb-3" id="reports">
          <div class="card-header">
            <i class="fa fa-table"></i> <%=__('LAST_NEW_REPORTS')%></div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTableReport" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th><%=__('REPORTED_USER')%></th>
                    <th><%=__('DESCRIPTION')%></th>
                    <th><%=__('DATE')%></th>
                    <th><%=__('STATUS')%></th>
                    <th><%=__('INFORMED_USER')%></th>
                    <th></th>

                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><%=__('REPORTED_USER')%></th>
                    <th><%=__('DESCRIPTION')%></th>
                    <th><%=__('DATE')%></th>
                    <th><%=__('STATUS')%></th>
                    <th><%=__('INFORMED_USER')%></th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody id="tableBodyReport">
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">
            <!-- End datetime aa bichne -->
          </div>
        </div>

        <!-- Example DataTables Card-->

      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Copyright © Your Website 2018</small>
          </div>
        </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->

      <!-- Bootstrap core JavaScript-->
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Page level plugin JavaScript-->
      <script src="/vendor/datatables/jquery.dataTables.js"></script>
      <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="/js/sb-admin.min.js"></script>
      <!-- Custom scripts for this page-->
      <script>
        var lang = '<%=lang%>'
        var user_list = []
        var users = []
        var r = []

        $(() => {
          $("#viewReports").click(function () {
            $('html, body').animate({
              scrollTop: $("#reports").offset().top
            }, 300);
          });

          $("#viewUsers").click(function () {
            $('html, body').animate({
              scrollTop: $("#users").offset().top
            }, 300);
          });

          $.get(`/allu/${lang}?l=5`, (data) => {
            console.log(data)
            if (data.statusCode == 200) {
              users = data.response
              $.each(users, (i, item) => {
                user_list.push(
                  [
                    `${item.firstname} ${item.lastname}`,
                    item.role.name, !("department" in item) || !('code' in item.department) ? "-" : item.department
                    .code,
                    // "bla",
                    item.email == undefined ? "-" : item.email,
                    item.gender == undefined ? "-" : item.gender.name, !('languages' in item) ? "-" :
                    new Date(item.date_created*1000),
                  ])
              })

              

              $('#dataTable').DataTable({
                data: user_list,
                "columnDefs": [{
                  "targets": 0,
                  "data": "download_link",
                  "render": function (data, type, row, meta) {
                    // console.log(data, type, row, meta)
                    id = users[meta.row]['_id']
                    // console.log(users)
                    return `<a href="/user/${id}/${lang}">${row[0]}</a>`;
                  }
                }]
              })
              $("#lastUpdate").append(new Date(data.lastUpdate))

            }
          })

          $.get('/r/all', (data) => {
            console.log(data)

            if (data.statusCode == 200) {
              r = data.response

              $("#report_num").html(r.length)
              var report_list = []
              $.each(r, (i, item) => {
                report_list.push(
                  [
                    `${item.users.user.fullname}`,
                    item.description,
                    new Date(parseInt(item.date_created * 1000)),
                    item.status,
                    item.users.user_informed.fullname,
                    "",
                  ])
              })
              $('#dataTableReport').DataTable({
                data: report_list,
                "columnDefs": [{
                    "targets": 0,
                    "data": "download_link",
                    "render": function (data, type, row, meta) {
                      return `<a href="/user/${r[meta.row].user}/<%=lang%>">${r[meta.row].users.user.fullname}</a>`

                    }
                  },
                  {
                    "targets": 4,
                    "data": "download_link",
                    "render": function (data, type, row, meta) {
                      return `<a href="/user/${r[meta.row].user_informed}/<%=lang%>">${r[meta.row].users.user_informed.fullname}</a>`
                    }
                  },
                  {
                    "targets": 5,
                    "data": "",
                    "render": function (data, type, row, meta) {
                      if (row[3] == 'new')
                        return `<button class="btn btn-primary" id="decide_${meta.row}" data="${meta.row}">Decide</button>`
                      else
                        return `-`
                    }
                  },
                  {
                    "targets": 3,
                    "data": "download_link",
                    "render": function (data, type, row, meta) {
                      if (row[3] == 'new')
                        return `<h6><span class="badge badge-warning">${row[3]}</span></h6>`;
                      else
                        return `<h6><span class="badge badge-success">${row[3]}</span></h6>`;
                    }
                  }
                ]
              })
            }
          })
        })

        $(document).on('click', '[id^="decide_"]', function (e) {
          i = parseInt($(this).attr('data'))
          console.log(i)
          btn_id = e.target.id
          var selector = $(`tbody#tableBodyReport tr:nth-child(${i}) td:nth-child(4) h6 span`)
          console.log(selector)

          id = r[i]['_id']
          
          $.ajax({
            url: '/r/decided',
            type: 'PUT',
            data: {
              id: id
            },
            success: function (result) {
              // Do something with the result
              console.log(result)
              selector.removeClass('badge-warning')
              selector.addClass('badge-success')
              selector.html("decided")
              $(`#${btn_id}`).addClass('d-none')
            }
          });

        })

        function join_array(array, key, punc) {
          var a = []
          $.each(array, (i, val) => {
            a.push(val[key])
          })
          return a.join(punc)
        }


        // function formatDate(date){
        //   date = `${date.getMonth() + 1}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}`
        //   return date
        // }
      </script>
    </div>
</body>

</html>