<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%=__('BMSTU_STUDENT_PORTAL')%>
    </title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/friend.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <% include navbar %>
    <div class="content-wrapper">

    <div class='container fluid'>
            <div class="loader d-none"></div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">
                    <%=__('PERSONAL_INFO')%>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="background-tab" data-toggle="tab" href="#background" role="tab" aria-controls="background" aria-selected="false">
                    <%=__('EDUCATION')%>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    <%=__('CONTACTS')%>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="verify-tab" data-toggle="tab" href="#verify" role="tab" aria-controls="verify" aria-selected="false">Verify account</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3 mt-2" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                <div class="row pr-5">
                    <form id="formPersonal" class="col-md-7">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">
                                <%=__('FIRSTNAME')%>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFirstname" value="<%=user.firstname%>" name="firstname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">
                                <%=__('LASTNAME')%>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputLastname" value="<%=user.lastname%>" name="lastname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputState" class="col-sm-3 col-form-label">
                                <%=__('GENDER')%>
                            </label>
                            <div class="col-sm-9">
                                <select id="selectGender" class="form-control custom-select" name="gender">
                                    <option selected value="">
                                        <%=__('CHOOSE')%>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputState" class="col-sm-3 col-form-label">
                                <%=__('COUNTRY')%>
                            </label>
                            <div class="col-sm-9">
                                <select id="selectCountry" class="form-control custom-select" name="country">
                                    <option selected  value="">
                                        <%=__('CHOOSE')%>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputState" class="col-sm-3 col-form-label">
                                <%=__('LANGUAGES')%>
                            </label>
                            <div class="col-sm-9">
                                <div id="chips">
                                </div>
                                <select id="selectLanguages" class="form-control custom-select" name="languages">
                                    <option selected  value="">
                                        <%=__('CHOOSE')%>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">
                                <%=__('BIO')%>
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="textareaBio" name="bio" placeholder="Write about yourself"><%=user.bio%></textarea>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="col-md-offset-1"></div> -->
                    <div class="col-md-4 text-center">
                        <% if(user.profile!=""){%>
                            <img src="<%=user.profile%>" class="center-cropped" id="imgProfile" style="width:90%">
                            <% } else {%>
                            <img src="/images/user.png" class="center-cropped" id="imgProfile" style="width:90%">
                            <% } %>
                        <label class="btn btn-outline-primary btn-file mt-3" style="width:90%">
                            <%=__('UPLOAD')%>
                                <input type="file" id="fileImg" onchange="readURL(this);" style="display: none;">
                        </label>
                        <!-- <button class="btn btn-outline-primary mt-2" style="width:90%">Upload photo</button> -->
                        <div class="progress mx-auto d-none" style="width:90%">
                            <div class="progress-bar" role="progressbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade  p-3 mt-2" id="background" role="tabpanel" aria-labelledby="background-tab">
               <form id="formEducation">
                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">
                        <%=__('FACULTY')%>
                    </label>
                    <div class="col-sm-6">
                        <select id="selectDepartment" name="department" class="form-control custom-select">
                            <option selected value="">
                                <%=__('CHOOSE')%>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">
                        <%=__('CHAIR')%>
                    </label>
                    <div class="col-sm-6">
                        <select id="selectChair" name="chair" class="form-control custom-select">
                            <option selected>
                                <%=__('CHOOSE')%>
                            </option>
                        </select>
                    </div>
                </div>
                </form>
            </div>
            <div class="tab-pane fade   p-3 mt-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <form class="col-md-9" id="formContacts">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">
                                <%=__('EMAIL')%>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmail" placeholder="name@example.com" name="email" value="<%=user.email%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">
                                <%=__('PHONE')%>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPhone"  name="phone" value="<%=user.phone%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Facebook</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFB" data = "socials"  name="fb" placeholder="" value="<%=user.socials.facebook%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Google</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputGoogle" data = "socials" name="google" value="<%=user.socials.google%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Vk</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputVk" data = "socials" placeholder="" name="vk" value="<%=user.socials.vk%>">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade  p-3 mt-2" id="news" role="tabpanel" aria-labelledby="news-tab">
                <form   id="formNews" class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">
                        Tags
                    </label>
                    <div class="col-sm-10">
                        <input type="text" id="inputTags" width="100%" class="form-control" value="" name="news_tags" data-role="tagsinput">
                    </div>
                </form>
            </div>
            <div class="tab-pane fade  p-3 mt-2 mb-5" id="verify" role="tabpanel" aria-labelledby="verify-tab">
                <div class="row d-none" id="alertConfirmation">
                    <div class="alert alert-success col-sm-7" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Confirmation email is sent!</strong> Check your mail box!
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">
                        University email
                    </label>
                    <% if(user.verified_email==undefined){ %>
                    <div class="col-sm-4">
                       
                            <input type="text" class="form-control" id="inputEmailUni" placeholder="example@university.ru"
                        value="">

                    </div>
                    <a href="#" class="col-sm-1 btn btn-outline-primary" id="btnConfirm">Confirm</a>

                    <%}else{%>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputEmailUni" placeholder="example@university.ru" 
                            value="<%=user.verified_email%>" readonly>
                        </div>
                        <h5><i class="fa fa-check-circle royal-blue"></i></h5>

                    <%}%>

                </div>
            </div>
            <div class="row mt-1">
                <div class="offset-sm-2"></div>
                <button class="btn btn-primary col-sm-3" id="btnSave">
                    <%=__('SAVE_CHANGES')%>
                </button>
            </div>
            <div id="response"></div>
            <div class="snackbar" id="snackbarUpdate">Saved!</div>
        </div>

    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/api.js"></script>

    <script src="/js/bootstrap-tagsinput.js"></script>

    <% if (user.chair != undefined) { %>
        <script>
            var c = "<%=user.chair._id%>"
        </script>
        <% } else{%>
            <script>
                var c = -1
            </script>
    <% }%>
    <script>
        var user_langs = [];
        var languages = [];
        var file_changed = false;
        var data = {}

        "<% if(user.languages){%>"
        "<% for (var i=0, len=user.languages.length; i<len; i++) { %>"
        user_langs.push("<%= user.languages[i]['_id']%>");
        "<% } }%>"
        "<% if(user.news_tags!=undefined){%>"
            "<% for (var j=user.news_tags.length; j>=0; j--) { %>"
                $("#inputTags").tagsinput('add', "<%=user.news_tags[j]%>")
            "<% } }%>"

        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $(() => {
            get_data('/country/<%=lang%>', set_country, inform_error)
            get_data('/api/dep/<%=lang%>', set_department, inform_error)
            get_data('/gender/<%=lang%>', set_gender, inform_error)
            get_data('/languages/<%=lang%>', set_languages, inform_error)
            handle_confirm()
            handle_save()
        })
        $("#selectLanguages").change(() => {
            var lang = $('#selectLanguages').find(":selected")
            var i = $("#selectLanguages option").index(lang)
            addChip(lang.text(), lang.attr('id'), i - 1)
        })

        $("#selectDepartment").change(() => {
            var dep = $('#selectDepartment').find(":selected")
            get_chair(dep.attr("id"))
        })

        $("#fileImg").on('change', function () {
            file_changed = true;
        })

        function set_department(items) {
            data['department'] = items
            var myDepartment =  <%- JSON.stringify(user.department) %>
            $.each(items, (i, v) => {
                
                    if(myDepartment!=undefined && v["_id"] == myDepartment._id) {
                    
                        $("#selectDepartment").append(
                            `<option selected id="${v["_id"]}">${v.code} | ${v.name}</option>`
                        )
                        get_chair(v["_id"])
                    } else{
                        $("#selectDepartment").append(
                            `<option id="${v["_id"]}">${v.code} | ${v.name}</option>`
                        )
                    }
                
            })
        }

        function set_chair(items) {
            $("#selectChair").find('option').not(':first').remove();
            data['chair'] = items
            $.each(items, (i, v) => {
                if (c == v["_id"]) {
                    $("#selectChair").append(
                        `<option selected id="${v["_id"]}">${v.code.toUpperCase()} | ${v.name}</option>`
                    )
                } else
                    $("#selectChair").append(
                        `<option id="${v["_id"]}">${v.code.toUpperCase()} | ${v.name}</option>`
                    )

            })
        }

        function set_country(items) {
            data['country'] = items

            var myCountry = <%- JSON.stringify(user.country) %>
            $.each(items, (i, v) => {
                if(myCountry!=undefined && v["_id"] == myCountry._id) {
                    $("#selectCountry").append(
                        `<option selected id="${v["_id"]}">${v.name}</option>`
                    )
                } else {
                    $("#selectCountry").append(
                        `<option id="${v["_id"]}">${v.name}</option>`
                    )
                }

            })
        }

        function set_gender(items) {
            data['gender'] = items

            var myGender =  <%- JSON.stringify(user.gender) %>
            $.each(items, (i, v) => {
                if(myGender!=undefined && v["_id"] == myGender._id) {
                    $("#selectGender").append(
                        `<option selected id="${v["_id"]}">${v.name}</option>`
                    )
                }else $("#selectGender").append(
                    `<option id="${v["_id"]}">${v.name}</option>`
                )
            })
        }

        function set_languages(items) {
            data['languages'] = items

            $.each(items, (i, v) => {
                $("#selectLanguages").append(
                    `<option id="${v["_id"]}" data="${i}">${v.name}</option>`
                )
                if ($.inArray(v["_id"], user_langs) != -1)
                    addChip(v.name, v["_id"], i)
            })
        }

        function inform_error(e) {
            
        }

        function get_chair(id) {
            console.log(id)
            get_data(`/api/chair/dep/${id}/<%=lang%>`, set_chair, inform_error)
        }

        function addChip(name, id, index) {
            $("#chips").append(
                `<div class="chip" data="${id}" id="${index}">${name}
<span class="closebtn" onclick="this.parentElement.remove()">&times;</span>
</div>`
            )
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgProfile')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                file_changed = true
            }
        }

        function upload(user) {
            $('.loader').removeClass('d-none')
            var formData = new FormData();

            if (file_changed) {
                var files = $("#fileImg").get(0).files;
                if (files.length == 1) {
                    formData.append('uploads[]', files[0], files[0].name);
                }
            }
            user.user_id = "<%=current_user_id%>"
            formData.append('user', JSON.stringify(user));

            $.ajax({
                url: '/upload',
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                
                error: function(){
                    $('.loader').addClass('d-none')
                    alert("Cannot update!")
                },
                success: function (data) {
                    $('.progress').removeClass('d-block').addClass('d-none')
                    $('.loader').addClass('d-none')
                    showSnackbar('snackbarUpdate')
                    file_changed = false
                },
                xhr: function () {
                    // create an XMLHttpRequest
                    var xhr = new XMLHttpRequest();
                    if (file_changed) {
                        $('.progress').removeClass('d-none').addClass('d-block')
                        // listen to the 'progress' event
                        xhr.upload.addEventListener('progress', function (evt) {

                            if (evt.lengthComputable) {
                                // calculate the percentage of upload completed
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete *
                                    100);

                                // update the Bootstrap progress bar with the new percentage
                                $('.progress-bar').text(percentComplete + '%');
                                $('.progress-bar').width(percentComplete + '%');

                                // once the upload reaches 100%, set the progress bar text to done
                                if (percentComplete === 100) {
                                    $('.progress-bar').html('Done');
                                }

                            }

                        }, false);
                    }

                    return xhr;
                }
            })
        }

        function handle_save() {
            $("#btnSave").click(() => {
                payload = {socials:{}}
                //personal info
                var forms = ["#formPersonal", '#formEducation', "#formContacts"]
                $.each(forms, (i, form)=>{
                    raw_payload = $(form).serializeArray()
                    $.each(raw_payload, (i, el)=>{
                        if($.inArray(el.name, ['fb', 'google', 'vk'])>-1){
                            payload.socials[el.name] = el.value
                        }else
                            payload[el.name] = el.value
                    })
                })

                $.each(forms, (i, form)=>{
                    $.each($(form).find('select'), (i, item)=>{
                        selected_item = $(item).find(":selected")
                        // console.log($(item).attr('name'), selected_item.attr('id'))
                        value = selected_item.attr('id')
                        name = $(item).attr('name')
                        if(name=='languages'){
                           chips = $("#chips").find("div.chip")
                           payload[name] = getAttrs(chips, 'data')
        
                        }else{

                            selected_index = selected_item.index() - 1
                            selected_index >= 0 ? payload[name] = $.isNumeric(value) ? parseInt(value): value :  payload[name] = undefined
                            console.log(selected_index, value, name)
                        }
                    })
                })
                payload['news_tags'] = $("#inputTags").tagsinput('items')
                console.log(payload)

                upload(payload)
            })


        }
        function getAttrs(el, attr){
            items = []
            $.each(el, (i, val)=>{
                items.push($(val).attr(attr))
            })
            return items
        }

        function handle_confirm() {
            $("#btnConfirm").click(() => {
                e = $("#inputEmailUni").val()
                $.post('/verify', {
                    "email": e
                }).done((r) => {
                    if (r.statusCode == 200) {
                        $("#alertConfirmation").removeClass("d-none")
                    } else {
                        alert("Something went wrong!")
                    }
                }).fail((r)=>{
                    
                })
            })
        }
    </script>
</body>

</html>