<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= __('BMSTU_STUDENT_PORTAL')%>
    </title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/friend.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <% include navbar %>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="http://1.bp.blogspot.com/-hccUkxWxi9s/UxpyA7ajhII/AAAAAAAABBo/WauETH2YBEM/s1600/viaje.jpg"
                                alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-tips="pre" data-target="#modalTips">
                                        <h2 class="card-title white">
                                           <%= __('PRE_DEPARTURE_TIPS') %>
                                        </h2>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="https://www.askideas.com/media/43/Beautiful-Image-Of-Kremlin-Palace.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-tips="after" data-target="#modalTips">
                                        <h2 class="card-title white">                                          
                                            <%= __('AFTER_DEPARTURE_TIPS') %>
                                        </h2>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="http://bmstu.ru/b-twig/assets/img/carousel/slobodskoy-frontward.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-tips="general" data-target="#modalTips">
                                        <h2 class="card-title white"><%= __('GENERAL_TIPS') %></h2>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="https://c.tribune.com.pk/2011/05/US-Visa11-167924-640x480.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-tips="visa" data-target="#modalTips">
                                        <h2 class="card-title white"><%= __('VISA_REG_TIPS') %></h2>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                        <div class="col-sm-6">
                            <div class="card border-0">
                                <img class="card-img-top" src="https://d1o50x50snmhul.cloudfront.net/wp-content/uploads/2016/04/migration2ndrevision1-1200x800.jpg" alt="Card image cap">
                                <div class="card-body p-2 card-body-semi ">
                                    <div>
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-tips="migration" data-target="#modalTips">
                                            <h2 class="card-title white"><%= __('MIG_CARD_TIPS') %></h2>
                                        </button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border-0">
                                <img class="card-img-top" src="https://taosvhdstorage.blob.core.windows.net/attr/images/article/large/6-documents-that-must-be-linked-to-your-aadhaar-card.jpg" alt="Card image cap">
                                <div class="card-body p-2 card-body-semi ">
                                    <div>
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-tips="student" data-target="#modalTips">
                                            <h2 class="card-title white"><%= __('STUD_DOC_TIPS') %></h2>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row border-top mt-4 ml-1 mr-3">
                    </br>
                </div>
                <div class="row p-1" id="news">
                    <div class="col-sm-4 f-13">
                        <h5> Main building</h5>
                        <div> ul. Baumanskaya 2-ya, 5/1, Moscow</div>
                        <div>Postcode: 105005</div>

                        <div>Tel. 8 (499) 263-6391</div>
                        <div>Fax (499) 267-4844</div>
                        <div>E-mail bauman@bmstu.ru</div>

                    </div>
                    <div class="col-sm-4 f-13">
                        <h5>FMOP</h5>
                        <div>Tel. 8 (499) 267 00 82</div>
                        <div class="row ">
                            <div class="col">
                                <h6>
                                    <a href="https://vk.com/public140853361">
                                        <i class="fa fa-vk" style="color:#4c75a3"></i>
                                    </a>
                                    <a href="https://www.facebook.com/groups/1430811973892911/" class="ml-2">
                                        <i class="fa fa-facebook-f" style="color:#3B5998"></i>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#modalTips">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modalTips" tabindex="-1" role="dialog" aria-labelledby="modalTipsTitle" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTipsTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/sb-admin.min.js"></script>
        <script src="/js/script.js"></script>
        <script>
            var local_data = {}

            $('#modalTips').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var type = button.data('tips') // Extract info from data-* attributes
                var modal = $(this)
                if(type in local_data) setContent(local_data[type])
                else getContent(type)
                
            })



            function getContent(type){
                $.get(`/tips/${type}/<%=lang%>`, (a)=>{  
                    console.log(a) 
                    local_data[type] = a                 
                    setContent(a)
                })
            }

            function setContent(data){
                $("#modalTipsTitle").html(data.title)
                var body = $("#modalTips .modal-body")
                body.empty()
                $.each(data.content, (i, item)=>{
                    if(item.type!="warning"){
                    if(i>0)
                        body.append(`<h5 class="mt-4 font-weight-bold">${item.title}</h5>`)
                    else
                        body.append(`<h5 class="font-weight-bold">${item.title}</h5>`)
                    }

                    if(item.type == 'list'){
                        body.append(renderList(item.content))
                    }else if(item.type=='numbering'){
                        body.append(renderNumber(item.content))
                    }else if(item.type=="warning"){
                        body.append(renderWarning(item))

                    }else{
                        body.append(`<p>${item.content}</p>`)
                    }
                })
            }

            function renderNumber(items){
                var str = `<ul class="list-group list-group-flush">`
                $.each(items, (i, item)=>{
                    str += `<li class="list-group-item">${i+1}. ${item.title}`
                    if(item.type == 'list'){
                        str += renderList(item.content)
                    }
                    str+="</li>"
                })
                str += "</ul>"
                return str
            }

            function renderList(items){
                var str = "<ul class='ml-2'>"
                $.each(items, (i, item)=>{
                    str += `<li>${item}</li>`
                })
                str += "</ul>"
                return str
            }

            function renderWarning(item){
                return `<div class="alert alert-warning" role="alert">
                    <h5><u>${item.title}</u></h5>${item.content}
                    </div>`
            }
        </script>
</body>
</html>